<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ZryteZene"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:largeHeap="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="zrytezene.xyz"
                    android:scheme="http" />
                <data
                    android:host="zrytezene.xyz"
                    android:scheme="https" />
                <data
                    android:host="openapp"
                    android:scheme="zrytezene" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LandingActivity"
            android:exported="false"/>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".PermissionsActivity"
            android:exported="false"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

        <activity
            android:name=".StreamingActivity"
            android:exported="false"/>
        
        <activity
            android:name=".UpdateAppActivity"
            android:exported="false"/>

        <service
            android:name="tw.music.streamer.service.ZryteZenePlay"
            android:foregroundServiceType="mediaPlayback"
            android:icon="@drawable/ic_launcher"
            android:label="ZryteZene Background Service"
            android:exported="false"/>

        <receiver
            android:name="tw.music.streamer.receiver.ZryteZeneBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ZZ_PLAY" />
                <action android:name="ZZ_PAUSE" />
                <action android:name="ZZ_SKIP" />
                <action android:name="ZZ_PREVIOUS" />
            </intent-filter>
        </receiver>

    </application>
</manifest>